header{
    background-color: grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-block: 8px;
    padding-inline: 16px;
    color: white;
}